body { /* deixa que todo o fundo fique nessa cor.  É um fundo inexistente */
    max-width: 100%;
    background-color: rgb(209, 212, 203);
}

header {
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: #b8abab;
    z-index: 2222;
}

.imag {
    margin-top: 6px;
    margin-left: 40px;
    width: 80px;
    height: 80px;
}

hr {
    border: none;
    height: 3px;
    background-color: black;
    width: 100%;
    bottom: 0px;
    margin: 0px;
    position: absolute;
}

.cabecalho{
    display: flex;
    position: relative;
    align-items: center;
    gap: 80px;
}

.logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 90px;
}

.codax{
    width: 164px;
    height: 44px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 4em;
    color: rgb(255, 217, 0);
}

.titulos{
    display: flex;
    gap: 40px;
    left: 38%;
    position: absolute;
    box-sizing: border-box;
}


.estudos{
    box-sizing: border-box;
    background-color: #BF7A0B;
    width: 164px;
    height: 44px;
    border-radius: 12px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
}

.estudos:hover, .noticais:hover, .saude:hover, .sobre:hover{
    background-color: white;
    color: black;
}

.noticais{
    box-sizing: border-box;
    background-color: #5E92F2;
    width: 164px;
    height: 44px;
    border-radius: 12px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
}

.saude{
    box-sizing: border-box;
    background-color: #30B248;
    width: 164px;
    height: 44px;
    border-radius: 12px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
}

.sobre{
    box-sizing: border-box;
    background-color: #858685;
    width: 164px;
    height: 44px;
    border-radius: 12px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
}

.spacetop{
    width: 100%;
    height: 130px;
}

a:active, a:visited, a{
    color: inherit;
    text-decoration: none;
}

.codax:hover {
    color: #ffffff;
}

/*parte do main*/

.background{
    background-color: whitesmoke;
    margin: 10px 500px 0px 80px;
    width: fit-content;
    padding: 20px;
    text-align: justify;
}

.text{
    width: 800px;
    font-size: 25px;
    padding-top: 30px;
}

.ipp{
    width: 800px;
    height: 400px;
}

